html {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  background-image: 
  linear-gradient(45deg, rgba(255,255,255,.3) 70px, transparent 1px),
  linear-gradient(45deg, rgba(255,255,255,.2) 35px, transparent 1px),
  linear-gradient(45deg, rgba(255,255,255,.2) 17.5px, transparent 17.5px),
  linear-gradient(0deg, rgba(255,255,255,.9) 100px, transparent 1px);
  background-size: 100px 100px, 50px 50px, 25px 25px, 100px 100px;
  background-position: -2px -2px, -1px -1px, -.5px -.5px, auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pegs {
  display: flex;
  align-items: center;
}
.done {
  background-color: rgba(0,0,0,.3) !important;
}
.current {
  background-color: rgba(255,255,0,.3);
}
.peg {
  height: 2em;
  width: 2em;
  border: 2px solid black;
  border-radius: 50%;
  margin: 4px;
  background-color:#bbbbbb;
}
.peg-button {
  box-shadow: 0px 2px black;
}
.peg-button:active {
  box-shadow: none;
  margin-top: 6px;
  margin-bottom: 2px;
}
.button {
  font-size: 1em;
  text-decoration: bold;
  line-height: 2em; /*centering*/
  white-space: nowrap; /*centering*/
  text-align: center; /*centering*/
  border-radius: 1em;
  width: 100px;
  background-color: white;
}
.check {
  display: none;
}
.pegs .red{background-color:#ff5555}
.pegs .orange{background-color:#ff8055}
.pegs .yellow{background-color:#ffff55}
.pegs .green{background-color:#55ff55}
.pegs .blue{background-color:#5555ff}
.pegs .purple{background-color:#af80af}

.stones {
  height: 2em;
  width: 2em;
}
.stone {
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #bbbbbb;
  border-radius: 50%;
  float: left;
}
.stone .black {
  background-color: black
}
.stone .white {
  background-color: white
}